body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; /* Aplicar la fuente Roboto */
  background-color: #F5F5F5; /* Fondo principal gris claro */
  color: #333; /* Color de texto predeterminado */
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}